<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/nouislider.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </header>
    <div class="container">
      <section>
        <% if(ads[0] == null) {%>
          <p>We have looked everywhere but no ads were found</p>
          <a href="/">Return home</a>
        <% } %>
        <div class="ads-list">
          
          <h2>Lista de anuncios</h2>

          <ul class="item-list">
            <% for (ad of ads) { %>
              <li>
                <div class="item">
                  <div class="image">
                    <img src="<%= ad.img %>" alt="">
                  </div>
                  <div class="details">
                    <h3><%= ad.title %></h3>
                    <h3 class="price"><%= ad.price %> €</h3>
                    <p><%= ad.description %></p>
                  </div>             
                </div>
              </li>
            <% } %>
          </ul>
        </div>
      </section>
      <section>
        <div class="filters-list">
          <h2 id="filtros">Filtros</h2>
          <h3>Precio</h3>
          <div id="slider"></div>
          <div id="slider-snap-value-lower"></div>
          <div id="slider-snap-value-upper"></div>
          
          <h3>Tipo de anuncio</h3>
          <select name="select" id="select">
            <option value="Venta">Venta</option>
            <option value="Compra">Compra</option>
          </select>
          
          <div class="btn-submit">
            <a id="link-filter" href="">
              <button id="btn-filter">Submit</button>
            </a>
          </div>
          
        </div>
      </section>
    </div>
    <script src="/javascripts/nouislider.js" ></script>
    <script src="/javascripts/functions.js" ></script>
  </body>
</html>
