<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </header>
    <section>
      <h2>Lista de anuncios</h2>

      <ul class="item-list">
        <% for (ad of ads) { %>
          <li>
            <div class="item">
              <div class="image">
                <img src="<%= ad.img %>" alt="">
              </div>
              <div class="details">
                <h3><%= ad.title %></h3>
                <h3 class="price"><%= ad.price %> €</h3>
                <p><%= ad.description %></p>
              </div>             
            </div>
          </li>
        <% } %>
      </ul>
    </section>
  </body>
</html>
