<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/nouislider.css' />
    <script src="/javascripts/nouislider.js" ></script>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </header>
    <div class="container">
      <section>
        <% if(ads[0] == null) {%>
          <p>We have looked everywhere but no ads were found</p>
          <a href="/">Return home</a>
        <% } %>
        <div class="ads-list">
          
          <h2>Lista de anuncios</h2>

          <ul class="item-list">
            <% for (ad of ads) { %>
              <li>
                <div class="item">
                  <div class="image">
                    <img src="<%= ad.img %>" alt="">
                  </div>
                  <div class="details">
                    <h3><%= ad.title %></h3>
                    <h3 class="price"><%= ad.price %> €</h3>
                    <p><%= ad.description %></p>
                  </div>             
                </div>
              </li>
            <% } %>
          </ul>
        </div>
      </section>
      <section>
        <div class="filters-list">
          <h2 id="filtros">Filtros</h2>
          <div id="slider"></div>
          <div id="slider-snap-value-lower"></div>
          <div id="slider-snap-value-upper"></div>
          <a id="link-filter" href="">
            <button id="btn-filter">Submit</button>
          </a>

          <a href=""></a>
        </div>
      </section>
    </div>
    <script>

    // Create slider
    const slider = document.getElementById('slider');

    // Get params to create slider
    // according to query string params
    var qs = (function(a) {
      if (a == "") return {};
      var b = {};
      for (var i = 0; i < a.length; ++i) {
          var p=a[i].split('=', 2);
          if (p.length == 1)
              b[p[0]] = "";
          else
              b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
      }
      return b;
    })(window.location.search.substr(1).split('&'));

    // Actually create the slider
    noUiSlider.create(slider, {
      start: [ qs["gt"] || 20, qs["lt"] || 80],
      snap: true,
      connect: true,
      range: {
          'min': 0,
          '10%': 50,
          '20%': 100,
          '30%': 150,
          '40%': 500,
          '50%': 800,
          'max': 1000
      } 
    });

    // Update min and max values
    var snapValues = [
    document.getElementById('slider-snap-value-lower'),
    document.getElementById('slider-snap-value-upper')
    ];
    const linkFilter = document.querySelector('#link-filter');

    slider.noUiSlider.on('update', function (values, handle) {
        snapValues[handle].innerHTML = values[handle];
        linkFilter.href = `/filters?lt=${values[1]}&gt=${values[0]}`
    });

    // Make GET request from slider values
    const btnFilter = document.querySelector('#btn-filter');
  </script>
  </body>
</html>
